#body{
	font-family: Helvetica, Arial;
	font-style: bold;
}


#playingfield{
	z-index: 1;
	position: fixed;
		animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
     animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
}

#responsecontainer{
	text-transform: uppercase;
	height: 45px;
	position: fixed;
	width: 100%;	
	z-index: 2;
	margin-top: 350px;
	margin-left:475px;
	
}
#man{
	text-transform: uppercase;
	height: 45px;
	position: fixed;
	width: 100%;	
	z-index: 4;
	margin-top: 250px;
	margin-left:340px;
	animation: start 2s infinite linear;
	-webkit-animation: start 2s infinite linear;
	-moz-animation: start 2s infinite linear;
	-o-animation: start 2s infinite linear; 
	
}

 #header-container {
	
	width:1024px; 
	height:768px;
	position:relative;
	overflow:hidden;
	border:solid 1px #ccc;
}

 #bg1,
 #bg2  {
	background-image:url(images/longbackground.png);
	background-repeat:no-repeat;
	width:1024px; 
	height:4608px;
	position:absolute;
	z-index:2;
	bottom:-3840px;
	/* bottom:-768px; */
}

#transitioncontainer{
	
	position: fixed;
	width: 100%;	
	z-index: 4;
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
     animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */

	
}
#logo{
	text-transform: uppercase;
	position: fixed;
	width: 100%;	
	z-index: 2;
	margin-top: 40px;
	margin-left: 40px;
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
     animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */	
}
#slogon{
	text-transform: uppercase;
	position: fixed;
	width: 100%;	
	z-index: 2;
	margin-top: 300px;
	margin-left: 400px;	
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
     animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
}
#help{
	font-family: Helvetica, Arial;
	text-transform: uppercase;
	position: fixed;
	width: 340px;	
	z-index: 99;
	border:groove 2px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: none;
    background-color: rgba(0, 0, 0);
    background: rgba(0, 0, 0);
    -moz-box-shadow: 7px 9px 12px #000000;
	-webkit-box-shadow: 7px 9px 12px #000000;
	box-shadow: 7px 9px 12px #000000;
	
}

.catmenu{
	display:inline;
}
	
.button{
	height: 40px;
	width:	40px;
	/* color:  #a3a0a3; */
    border:groove 2px #a3a0a3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-style: bold;
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
}
.description{
	height: 44px;
	width:	220px;
	/* color:  #a3a0a3; */
    line-height: 43px;
    font-style: bold;
    float: right;
    margin-bottom: 5px;
}
.menutitle{
	height: 44px;
	width:	350px;
	/* color:  #a3a0a3; */
    line-height: 43px;
    font-style: bold;
    font-size: 32;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
}
.kotebologo{
	height: 35px;
	float: right;
	/* color:  #a3a0a3; */
    font-style: bold;
    font-size: 32;
    text-align: center;
    margin-bottom: 5px;
    padding-right: 10px;
}
.menu{
	height: 55px;
	width:	330px;
}
#transitioncontainer2{
	
	height: 1600px;
	position: fixed;
	bottom: 0;
	width: 100%;	
	z-index: 4;

	
}
.transition{
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
	
	/* border:solid 1px #2d2d2d;  
	text-align:center; 
	background:#575757; 
	width: 100px;
	height: 50px;
	padding:100px 50px 100px 50px;  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	animation: start 5s 20 linear;
	-webkit-animation: start 5s 20 linear;
	-moz-animation: start1 5s 20 linear;
	-o-animation: start1 5s 20 linear; */
}
	
.transition1{
	animation: start1 6s 20 linear;
	-webkit-animation: start1 6s 20 linear;
	-moz-animation: start1 6s 20 linear;
	-o-animation: start1 6s 20 linear;
	animation-delay:-10s;
	-moz-animation-delay:-10s; /* Firefox */
	-webkit-animation-delay:-10s; /* Safari and Chrome */
	-o-animation-delay:-10s; /* Opera */ 
	
	/* border:solid 1px #2d2d2d;  
	text-align:center; 
	background:#575757; 
	width: 100px;
	height: 50px;
	padding:100px 50px 100px 50px;  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	animation: start 5s 20 linear;
	-webkit-animation: start 5s 20 linear;
	-moz-animation: start1 5s 20 linear;
	-o-animation: start1 5s 20 linear; */
}

.highlight{
	text-transform: uppercase;
	font-family: Helvetica, Arial;
	font-style: bold;
	 animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
     animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */

}

#awarded{
	height: 45px;
	position: fixed;
	width: 100%;	
	z-index: 3;
	margin-top: 660px;
	margin-left: 5px;
	color:grey;
}

#award{

}

#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
   
}

#demoguide {
float: left;
z-index: 99999;
margin-left: 800;
opacity: 0.5;
position: absolute;
color: black;
margin-top: 20px;
text-align: center;
}

/*start background */

@keyframes start {
0% { transform: rotate(0deg) scale(1) skew(0deg);  }
50% { transform: rotate(3deg) scale(1) skew(0deg);  }
100% { transform: rotate(0deg) scale(1) skew(0deg);  }
}
@-webkit-keyframes start {
0% { -webkit-transform: rotate(0deg) scale(1) skew(0deg);  }
50% { -webkit-transform: rotate(3deg) scale(1) skew(0deg);  }
100% { -webkit-transform: rotate(0deg) scale(1) skew(0deg);  }
}
@-moz-keyframes start {
0% { -moz-transform: rotate(0deg) scale(1) skew(0deg);  }
50% { -moz-transform: rotate(3deg) scale(1) skew(0deg) ; }
100% { -moz-transform: rotate(0deg) scale(1) skew(0deg);  }
}
@-o-keyframes start {
0% { -o-keyframes: rotate(0deg) scale(1) skew(0deg); }
50% { -o-keyframes: rotate(3deg) scale(1) skew(0deg); }
100% { -o-keyframes: rotate(0deg) scale(1) skew(0deg); }
}


@keyframes fadeout {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:0;
        -webkit-transform: translate:(0px,-84px);
    }
    to {
        opacity:1;
        -webkit-transform: translate:(0px,300px);
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​


/*transition*/

