#commands {
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 20px;
}

body { 
	margin-left: auto; 
	margin-right: auto;
	width: 960px;
}

h1 {
	margin-left: 10px;
}

.commandbutton {
display: inline-block;
float: left;
padding: 10px;
border-radius: 8px;
background-color: grey;
margin-right: 10px;
}

.commandbutton a {
color: white;
text-decoration: none;
}

#active-players {
	margin:0px;padding:0px;
	
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	
	display: inline-block;


}


#active-players table{
    border-collapse: collapse;
        border-spacing: 0;
	
	margin:0px;padding:0px;
}#active-players tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
#active-players table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
#active-players table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}#active-players tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}#active-players tr:hover td{
	
}
#active-players tr:nth-child(odd){ background-color:#aad4ff; }
#active-players tr:nth-child(even)    { background-color:#ffffff; }#active-players td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}#active-players tr:last-child td{
	border-width:0px 1px 0px 0px;
}#active-players tr td:last-child{
	border-width:0px 0px 1px 0px;
}#active-players tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
#active-players tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
#active-players tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
#active-players tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
#active-players tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

#selected-players {
	margin:0px;padding:0px;
	
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	display: inline-block;
	margin-left: 20px;
}#selected-players table{
    border-collapse: collapse;
        border-spacing: 0;
	
	
	margin:0px;padding:0px;
}#selected-players tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
#selected-players table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
#selected-players table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}#selected-players tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}#selected-players tr:hover td{
	
}
#selected-players tr:nth-child(odd){ background-color:#aad4ff; }
#selected-players tr:nth-child(even)    { background-color:#ffffff; }#selected-players td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}#selected-players tr:last-child td{
	border-width:0px 1px 0px 0px;
}#selected-players tr td:last-child{
	border-width:0px 0px 1px 0px;
}#selected-players tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
#selected-players tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
#selected-players tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
#selected-players tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
#selected-players tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.kotebologo {
	color: grey;
	margin-top: 20px;
	}
	
.kotebologo a {
	text-decoration: none;
}

.kotebologo img {

}

.created {
	display: inline-block;
	float: left;
	padding-top: 4px;
	margin-right: 4px;
}
